asgiref==3.7.2
Brotli==1.1.0
cffi==1.16.0
cssselect2==0.7.0
Django==4.2.5
django-appconf==1.0.5
django-clearcache==1.2.1
django-mysql==4.12.0
django-select2==8.1.2
django-weasyprint==2.2.1
fonttools==4.45.1
html5lib==1.1
mysql==0.0.3
mysqlclient==2.2.0
Pillow==10.1.0
pycparser==2.21
pydyf==0.8.0
pyphen==0.14.0
six==1.16.0
sqlparse==0.4.4
tinycss2==1.2.1
typing_extensions==4.8.0
weasyprint==60.1
webencodings==0.5.1
zopfli==0.2.3
