{% extends "presupuesto/layouts/base.html" %}
{%block nav%}
{%endblock%}
{% block content %}
<nav>
    <div class="nav-wrapper blue-grey darken-2"> 
      <a href="/" class="brand-logo"><i class="material-icons">home</i></a>
    
      <form>
        <div class=" right input-field">
          <input id="search" type="search" name="busqueda" value="{{ busqueda }}" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    
    </div>
  </nav>
  

<div class="container">
  <div class="collection">
    
    {%for presupuesto in pre %}
    <a href="/presupuesto/{{presupuesto.slug}}" class="collection-item">
        {{presupuesto.nombre}}
    </a>
    {%endfor%}
  </div>

    {% for id_producto in pre.id_producto.all %}
    <h1 style="color: aliceblue;">{{id_producto.nombre}}</h1>
    {% endfor %}
</div>
{% endblock %}

    